body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.address-list-item:hover {
    box-shadow: rgba(0, 0, 0, 0.117647) 1px 3px 6px, rgba(0, 0, 0, 0.117647) 1px 3px 4px !important;
    position: relative;
    top: -2px;
}
